# App
export APP_HTTP_WEB_SERVER_HOST="localhost"
export APP_HTTP_WEB_SERVER_PORT="8080"

export APP_HTTP_API_SERVER_HOST="localhost"
export APP_HTTP_API_SERVER_PORT="8081"

export APP_DB_PG_USER="development"
export APP_DB_PG_PASS="development"
export APP_DB_PG_DATABASE="development"
export APP_DB_PG_SCHEMA="todoapp"
export APP_DB_PG_HOST="127.0.0.1"
export APP_DB_PG_PORT="5432"
export APP_DB_PG_SSL="false"
export APP_DB_PG_MAX_RETRIES=5

export APP_API_ERRORS_EXPOSE_INTERNAL="false"

export APP_NATS_HOST=localhost
export APP_NATS_PORT=4222

export APP_LOGGING_LEVEL="debug"
